In [1]:
import pandas as pd
import numpy as np

In [2]:
youtube = pd.read_csv("USvideos.csv")

In [3]:
youtube.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [5]:
youtube.describe()

        category_id         views         likes      dislikes  comment_count
count  23362.000000  2.336200e+04  2.336200e+04  2.336200e+04   2.336200e+04
mean      20.083726  1.286212e+06  4.508536e+04  2.809709e+03   5.805330e+03
std        7.592102  4.125235e+06  1.464824e+05  3.559515e+04   3.276944e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  1.165182e+05  2.338000e+03  1.062500e+02   3.270000e+02
50%       24.000000  3.549700e+05  9.936500e+03  3.570000e+02   1.107000e+03
75%       25.000000  1.066648e+06  3.116400e+04  1.189000e+03   3.550750e+03
max       43.000000  1.493761e+08  3.093544e+06  1.674420e+06   1.361580e+06

In [6]:
youtube.shape

(23362, 16)

In [8]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23362 entries, 0 to 23361
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                23362 non-null  object
 1   trending_date           23362 non-null  object
 2   title                   23362 non-null  object
 3   channel_title           23362 non-null  object
 4   category_id             23362 non-null  int64
 5   publish_time            23362 non-null  object
 6   tags                    23362 non-null  object
 7   views                   23362 non-null  int64
 8   likes                   23362 non-null  int64
 9   dislikes                23362 non-null  int64
 10  comment_count           23362 non-null  int64
 11  thumbnail_link          23362 non-null  object
 12  comments_disabled       23362 non-null  bool
 13  ratings_disabled        23362 non-null  bool
 14  video_error_or_removed  23362 non-null  bool
 15  description             22929 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 2.4+ MB

In [9]:
yotube_copy = youtube.copy()

In [10]:
youtube.isnull().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               433
dtype: int64

In [13]:
yotube_copy.drop(["thumbnail_link","video_id","trending_date","publish_time","thumbnail_link","comments_disabled","ratings_disabled","video_error_or_removed"],axis=1,inplace=True)

In [14]:
yotube_copy.shape

(23362, 9)

In [16]:
yotube_copy.columns.value_counts().sum()

9

In [17]:
# beğeni ortalaması
yotube_copy["likes"].mean()

45085.35972947522

In [19]:
# beğenmeme ortalaması
yotube_copy["dislikes"].mean()

2809.7094426847016

In [23]:
# En yüksek görüntülenmeyi alan videonun başlık bilgisini bulun
yotube_copy[yotube_copy["views"].max() == yotube_copy["views"]]["title"].iloc[0]

'YouTube Rewind: The Shape of 2017 | #YouTubeRewind'

In [24]:
#En düşük görüntülenmeyi alan videonun başlık bilgisini bulun
yotube_copy[yotube_copy["views"].min() == yotube_copy["views"]]["title"].iloc[0]

'1 dead, others injured after Ky. school shooting'

In [27]:
# Kategorilere Göre (category_id) Yorum Sayılarının Ortalamasını Bulun
yotube_copy.groupby("category_id").mean()[["comment_count"]]

C:\Users\aliha\AppData\Local\Temp\ipykernel_16976\886057172.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  yotube_copy.groupby("category_id").mean()[["comment_count"]]

             comment_count
category_id
1              6003.651813
2              1730.438235
10            10383.559418
15             2474.376054
17             3256.199515
19             1833.011450
20             7578.383607
22             4491.865854
23             5432.868554
24             7178.388176
25             1523.749869
26             4992.165997
27             2143.574850
28             3350.945159
29           100071.562500
43             1340.375000

In [28]:
# Kategorilerde Kaç Adet Videonun Olduğunu Hesaplayın
yotube_copy["category_id"].value_counts()

24    5379
10    3366
26    2241
23    1978
25    1907
22    1886
28    1477
1     1324
17    1238
27    1002
15     593
2      340
20     305
19     262
29      48
43      16
Name: category_id, dtype: int64

In [29]:
# Her Videonun Başlık Uzunluğunu içeren yeni bir sütün ekleyin.
yotube_copy["yeni_baslik_uzunluk"] = len(yotube_copy["title"].value_counts())

In [31]:
yotube_copy.columns

Index(['title', 'channel_title', 'category_id', 'tags', 'views', 'likes',
       'dislikes', 'comment_count', 'description', 'yeni_baslik_uzunluk'],
      dtype='object')

In [32]:
yotube_copy.head(2)

,title,channel_title,category_id,tags,views,likes,dislikes,comment_count,description,yeni_baslik_uzunluk
0,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,SHANtell martin,748374,57527,2966,15954,SHANTELL'S CHANNEL - https://www.youtube.com/s...,4774
1,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,"One year after the presidential election, John...",4774